@import 'partials/reset';
@import 'partials/prefix-mixins';

@import 'partials/layout'
// color palette

$normal:#2B7A78; // green
$sucess: #3AAFA9; // light green
$alert: #e87a75; // alert color
$outline: #DEF2f1; // outline


