// variables

// font-family
$font-family-oswald: 'Oswald',
sans-serif;
$font-family-cardo: 'Cardo',
serif;

// colors
$primary-base-color: #17252A;
$secondary-base-color: #2B7A78;
$primary-brand-color: #3AAFA9;
$secondary-brand-color: #DEF2F1;
$light-color: #FEFFFF;