* {
    margin: 0;
    padding: 0;
}


//Large view
@media all and (min-width: 1024px){

		
	#css-zen-garden{
		margin: 0 auto;
		width: 50%;
		
	}
	.page-wrapper {
		display: grid;
		grid-template-columns: 210px 470px;
		grid-template-rows: 1fr 100px;
		margin: 0 auto;
  		
  		
		
		.sidebar{
			grid-column: 1/2;
			grid-row: 1/2;
			max-width: 20rem;
			top: 5em;
			position: relative;
			
		}
		.intro {
			grid-column: 2/3;
			grid-row: 1/2;
			max-width: 25rem;
		}
		
		#zen-supporting {
			position: relative;
			bottom:37em;
			grid-column: 2/3;
			grid-row: 2/3;
			max-width: 25rem;
		}
	}
}

//Medium view
@media all and (min-width: 768px) and (max-width:1024){

}

//Mobile View and General
.page-wrapper{
	
	p{
	text-align: justify;
	}
	.summary, .preamble, .explanation, .participation, .benefits, .requirements{
	padding: 1em;
	margin: .5em 2em;
	border-bottom: 1px solid #ccc;	
		h3{
		font-size: 1em;
		margin-bottom: 1em;
		text-align: center;
		}
		h3::before{
		content: url('assets/logo-ver-1.png');
		max-width: 15%;
		height: auto;
		top: 3px;
		display: inline-flex;
		position: relative;
			
		}
		p{
			padding: .4em 0;
		}
		a{
		text-decoration: none;
		color: red;	
		}
	}
}

.intro{
	
	header{
	margin: .6em;
	
	}
	h1{
		color: #6ba24a;
		font-size: 2.4em;	
		border-bottom: 1px solid #cdc555;
		text-align: center;
		
	}
	h2{
		text-align: right;
		font-size: 1.2em;
		padding: .3em;
	}
	h1::after{
			content: url('assets/logo-ver-2.png');
			max-width: 15%;
			height: auto;
			top: 3px;
			display: inline-flex;
			position: relative;
			
		}
	
}

aside{
	
	margin-top: 2em;
	.wrapper {
	
	display: block;
	
	li{
	background: white;
	list-style-type: none;
	padding: 1.2em;
	
		.design-name::before{
			content: url('assets/green-tea-leaves-clipart.png');
			max-width: 10%;
			height: auto;
			top: 3px;
			right: 10px;
			display: inline-flex;
			position: relative;
			
		}
	}
	h3{
	padding: 1em;
	border-bottom: 1px solid #ccc;	
	}
		
		h3:after{
			content: url('assets/clipart-leaf-clear-background-4.png');
			max-width: 10%;
			height: auto;
			top: 3px;
			left: 10px;
			display: inline-flex;
			position: relative;
		}
	
	ul{
	display: block;
	.design-name{
	color: #6ba24a;
	}
		a{
		text-decoration: none;
		color: black;	
		}
	}
}
	
	.design-archives, zen-resources {
		a::before{
			content: url('green-tea-leaves-clipart.png');
			max-width: 10%;
			height: auto;
			top: 3px;
			right: 10px;
			display: inline-flex;
			position: relative;
		}
	}
}

footer{
	background: black;
	display: block;
	text-align: center;
	padding: 1em;
	margin-top: 1.2em;
	a{
	text-decoration: none;
	color: white;
	padding: 0 1em;
		
	}
	
}


