// Partials
@import "partials/grid";

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

//* { border: 1px solid black; }

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

// font-family
/*$serif: "",
serif;
$sans-serif: "Open sans",
sans-serif;*/
$serif: "Merriweather", serif;
$sans-serif: "Montserrat", sans-serif;

// colors
$primary-base-color: #14281d; // 20, 40, 29
$secondary-base-color: #235789; // 35, 87, 137
$tertiary-base-color: #d72638; // 61, 90, 128
$primary-brand-color: #000;
$secondary-brand-color: #fff;
$tertiary-brand-color: #98c1d9;
$sun-color: #fce850;

@mixin sun-ray($deg) {
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin sun-ray-rotate($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      @include sun-ray($from);
    }

    100% {
      @include sun-ray($to);
    }
  }
}

@keyframes anim-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin sun-ray-animation($br-tl, $br-tr, $br-br, $br-bl, $t-deg, $a-name) {
  border-radius: $br-tl $br-tr $br-br $br-bl;
  transform: rotate($t-deg);
  animation: $a-name 120s linear infinite, morning 20s linear,
    anim-opacity 20s linear;
}

@mixin bg-image-gradient($r, $g, $b) {
  background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    from(rgba(255, 255, 255, 1.2)),
    to(rgba(255, 255, 255, 0.1))
  );
  background-image: -moz-gradient(
    linear,
    right top,
    left top,
    from(rgba($r, $g, $b, 0.8)),
    to(rgba($r, $g, $b, 0.1))
  );
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba($r, $g, $b, 0.8)),
    to(rgba($r, $g, $b, 0.1))
  );
}

@include sun-ray-rotate(ray-anim, 135deg, 495deg);
@include sun-ray-rotate(ray-anim2, 90deg, 450deg);
@include sun-ray-rotate(ray-anim3, 45deg, 405deg);
@include sun-ray-rotate(ray-anim4, 180deg, 540deg);

@keyframes sun-glow {
  0% {
    box-shadow: 0px 0px 25px 5px $sun-color;
  }

  10% {
    box-shadow: 0px 0px 25px 10px $sun-color;
  }

  20% {
    box-shadow: 0px 0px 25px 15px $sun-color;
  }

  30% {
    box-shadow: 0px 0px 25px 20px $sun-color;
  }

  40% {
    box-shadow: 0px 0px 25px 25px $sun-color;
  }
}

@keyframes wave {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
  }
}

@keyframes flutter {
  0% {
    background-position: 200% 0px;
  }

  30% {
    background-position: 60% -5px;
  }

  70% {
    background-position: -70% 5px;
  }

  100% {
    background-position: -200% 0px;
  }
}

//large-view
@media all and (min-width: 1024px) {
  .extra1 {
    background-image: url("assets/bird-cells.svg");
    background-size: auto 100%;
    top: 100px;
    bottom: 0;
    //left: 22em;
    position: relative;
    width: 80px;
    height: 125px;
    //transform: rotate(-10deg);
    will-change: background-position transform;
    animation-name: fly-cycle, fly-right-one;
    animation-timing-function: steps(10), linear;
    animation-iteration-count: infinite, infinite;
    animation-duration: 1s, 17s;
    animation-delay: 0s, 0s;
  }
  .extra2 {
    background-image: url("assets/bird-cells.svg");
    background-size: auto 100%;
    top: 100px;
    bottom: 0;
    // left: 22em;
    position: relative;
    width: 80px;
    height: 125px;
    //transform: rotate(-10deg);
    will-change: background-position transform;
    animation-name: fly-cycle, fly-right-two;
    animation-timing-function: steps(10), linear;
    animation-iteration-count: infinite, infinite;
    animation-duration: 1s, 15s;
    animation-delay: 0s, 0s;
  }
  .extra3 {
    background-image: url("assets/bird-cells.svg");
    background-size: auto 100%;
    top: 100px;
    bottom: 0;

    //left: 8em;
    position: relative;
    width: 80px;
    height: 125px;
    //transform: scale(1.3);
    will-change: background-position;
    animation-name: fly-cycle, fly-right-two;
    animation-timing-function: steps(10), linear;
    animation-iteration-count: infinite, infinite;
    animation-duration: 1s, 20s;
    animation-delay: 0s, 0s;
  }
  @keyframes fly-cycle {
    100% {
      background-position: -900px 0px;
    }
  }

  @keyframes fly-right-two {
    0% {
      transform: translateY(-4vh) translateX(-10vw) scale(0.6);
    }

    10% {
      transform: translateY(4vh) translateX(10vw) scale(0.6);
    }

    20% {
      transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }

    30% {
      transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
      transform: translateY(-4vh) translateX(70vw) scale(0.6);
    }

    50% {
      transform: translateY(4vh) translateX(90vw) scale(0.6);
    }

    51% {
      transform: translateY(-4vh) translateX(110vw) scale(0.6);
    }

    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
  }
  @keyframes fly-right-one {
    0% {
      transform: scale(0.3) translateX(-10vw);
    }

    10% {
      transform: translateY(2vh) translateX(10vw) scale(0.6);
    }

    20% {
      transform: translateY(0vh) translateX(30vw) scale(0.8);
    }

    30% {
      transform: translateY(4vh) translateX(50vw) scale(0.8);
    }

    40% {
      transform: translateY(2vh) translateX(70vw) scale(0.8);
    }

    50% {
      transform: translateY(0vh) translateX(90vw) scale(0.8);
    }

    60% {
      transform: translateY(0vh) translateX(110vw) scale(0.8);
    }

    100% {
      transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
  }

  @keyframes showup {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes morning {
    from {
      filter: grayscale(100%);
      //opacity: 0.5;
    }

    to {
      filter: grayscale(0);
      //opacity: 1;
    }
  }

  #css-zen-garden:before {
    content: "";
    position: fixed;
    background-image: url("assets/johann-siemens-EPy0gBJzzZU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: morning 15s linear;
  }

  #css-zen-garden {
    /*background-image: url("assets/agriculture.jpg");*/
    //background-image: url("assets/johann-siemens-EPy0gBJzzZU-unsplash.jpg");
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-attachment: fixed;
    animation-duration: 0.5s;
    animation-name: showup;
    //filter: grayscale(1);

    .page-wrapper {
      animation: morning 10s linear;

      .intro {
        .summary {
          margin-top: 2em;
        }

        header:before {
          animation: sun-glow 5000ms infinite;
          background-color: #fceb6c;
          bottom: 0;
          border-radius: 50%;
          box-shadow: 0px 0px 25px 5px #fce850;
          content: "";
          height: 70px;
          left: -75px;
          margin: auto;
          opacity: 1;
          position: absolute;
          top: 88px;
          width: 70px;
          z-index: 100;
          animation: morning 10s linear;
        }

        header {
          position: relative;
          padding: 1em;
          animation: morning 20s linear, anim-opacity 20s linear;

          h1:after,
          h1:before,
          h2:after,
          h2:before {
            content: "";
            background: -webkit-linear-gradient(
              to top,
              rgba(252, 240, 153, 0.1) 0%,
              rgba(252, 240, 153, 1) 50%,
              rgba(252, 240, 153, 0.1) 100%
            );
            background: linear-gradient(
              to top,
              rgba(252, 240, 153, 0.1) 0%,
              rgba(252, 240, 153, 1) 50%,
              rgba(252, 240, 153, 0.1) 100%
            );
            bottom: 0;
            height: 200px;
            left: -50px;
            opacity: 0.8;
            position: absolute;
            top: 0;
            transform-origin: center;
            width: 20px;
            z-index: 99;
          }

          h2:before {
            @include sun-ray-animation(0, 0, 40%, 40%, 135deg, ray-anim);
          }

          h2:after {
            @include sun-ray-animation(0, 40%, 0, 40%, 45deg, ray-anim3);
          }

          h1:before {
            @include sun-ray-animation(40%, 40%, 0, 0, 90deg, ray-anim2);
          }

          h1:after {
            @include sun-ray-animation(40%, 0, 40%, 0, 180deg, ray-anim4);
          }
        }

        .preamble {
        }
      }

      .main {
        .explanation {
        }

        .participation {
        }

        .benefits {
        }

        .requirements {
        }

        footer {
          background: $primary-base-color;
          padding: 1em 1em 1em 1em;
          text-align: center;

          a {
            border-bottom: 0px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            color: $secondary-brand-color;
            cursor: pointer;
            font-family: $sans-serif;
            margin-bottom: 5px;
            padding: 1em;
            position: relative;
            text-decoration: none;
            transition: all 0.3s ease;
            width: 100%;
            z-index: 2;
          }

          a:before,
          a:after {
            content: "";
            position: absolute;
            transition: inherit;
            z-index: -1;
          }

          a:before {
            border: 1px solid #fff;
            border-left: 0;
            border-right: 0;
            bottom: 0;
            height: 100%;
            left: 50%;
            width: 0;
          }

          a:after {
            background-color: #fff;
            height: 0;
            left: 0;
            top: 0;
            width: 100%;
          }

          a:hover {
            color: #000;
            font-weight: bold;
            transition-delay: 0.3s;
          }

          a:hover:before {
            left: 0;
            width: 100%;
            transition-delay: 0s;
          }

          a:hover:after {
            bottom: 0;
            height: 100%;
            transition-delay: 0.3s;
          }
        }
      }

      .sidebar {
        animation: morning 10s linear;
        //select, archives, resources
        h3 {
          margin-left: 0;
          margin-right: 0;
          padding: 1em;
          text-align: right;
          color: $secondary-brand-color;
        }

        h3.select,
        h3.archives,
        h3.resources {
          position: relative;
          //display: inline-block;
          box-sizing: border-box;
          //box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.5);
          transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
          transform-origin: right;
          animation: wave 8s cubic-bezier(0.16, 0.14, 0.82, 0.73) infinite;
          width: 100%;
          z-index: 100;
        }

        h3.select:before,
        h3.archives:before,
        h3.resources:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          background-image: -webkit-gradient(
            linear,
            0 -25%,
            100% top,
            color-stop(0%, rgba(255, 255, 255, 0)),
            color-stop(20%, rgba(255, 255, 255, 0)),
            color-stop(30%, rgba(0, 0, 0, 0.04)),
            color-stop(40%, rgba(255, 255, 255, 0.2)),
            color-stop(60%, rgba(255, 255, 255, 0)),
            color-stop(65%, rgba(255, 255, 255, 0.2)),
            color-stop(80%, rgba(0, 0, 0, 0.05)),
            color-stop(100%, rgba(255, 255, 255, 0))
          );
          background-size: 200%;
          animation: flutter 8s cubic-bezier(0.16, 0.14, 0.82, 0.73) infinite;
          z-index: 101;
        }

        h3.select {
          background-color: $primary-base-color;
        }

        h3.archives {
          background-color: $secondary-base-color;
        }

        h3.resources {
          background-color: $tertiary-base-color;
        }

        li:last-child {
          margin-bottom: 1em;
        }

        li {
          @include bg-image-gradient(255, 255, 255);
          border-bottom: 0px;
          //border-right: 5px solid $primary-base-color;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          color: #000;
          cursor: pointer;
          font-family: $sans-serif;
          padding: 15px;
          position: relative;
          text-decoration: none;
          width: 100%;
          z-index: 2;
        }

        /*li:nth-child(even) {
          border-right: 5px solid #235789;
        }*/
        .design-selection li {
          border-right: 5px solid $primary-base-color;
        }

        .design-archives li {
          border-right: 5px solid $secondary-base-color;
        }

        .zen-resources li {
          border-right: 5px solid $tertiary-base-color;
        }

        li a {
          color: #000;
        }

        li:hover {
          color: #fff;
          transition-delay: 0.1s;
        }

        li:hover > a:nth-child(2) {
          transition-delay: 0.1s;
          color: #fff;
        }

        li:hover > a:first-child {
          border-bottom: 0px;
          color: #e2efde;
          font-weight: bold;
          transition-delay: 0.1s;
        }

        li:after {
          content: "";
          height: 100%;
          left: 0;
          top: 0;
          width: 0px;
          position: absolute;
          transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -webkit-transition: all 0.5s ease-in-out;
          z-index: -1;
        }

        li:hover:after {
          width: 100%;
        }

        .design-selection li:hover:after {
          background-color: $primary-base-color;
        }

        .design-archives li:hover:after {
          background-color: $secondary-base-color;
        }

        .zen-resources li:hover:after {
          background-color: $tertiary-base-color;
        }

        /*li:nth-child(even):hover:after {
          background-color: $primary-base-color;
          width: 100%;
        }

        li:hover:after {
          background-color: #235789;
          width: 100%;
        }*/
      }
    }
  }
}

//bird-animation

//mobile view background
@media all and (min-width: 200px) and (max-width: 768px) {
  #css-zen-garden {
    /*background-image: url("assets/mobile.png");*/
    background-image: url("assets/johann-siemens-EPy0gBJzzZU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

//Mobile View and General
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
}

.page-wrapper {
  p {
    text-align: justify;
    font-family: $serif;
    line-height: 135%;
  }

  p:first-child:first-letter {
    color: $primary-base-color;
    float: left;
    font-family: $serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  //Each Section (General)
  .summary,
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements {
    background-image: -webkit-gradient(
      linear,
      right top,
      right bottom,
      from(rgba(255, 255, 255, 1.2)),
      to(rgba(255, 255, 255, 0.1))
    );
    border-radius: 10px;
    padding: 0.5em 2em;
    margin: 10px 0;

    //Each Section (H3-General)
    h3 {
      font-size: 1em;
      margin-bottom: 1em;
      text-align: center;
      transform: scale(1);
      transition: all 0.3s ease-in-out 0.2s;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $primary-base-color;
      animation-duration: 3s;
      animation-name: showup;
      animation-timing-function: ease-in-out;
    }

    //h3 animation
    h3:hover:before {
      content: "";
      background-image: url("assets/logo-ver-1.png");
    }

    h3::before {
      content: "";
      background-image: url(assets/logo-ver-2.png);
      background-size: 100% 100%;
      display: inline-block;

      /*size of your image*/
      height: 32px;
      width: 50px;

      /*if you want to change the position you can use margins or:*/
      position: relative;
      top: 5px;
    }

    p {
      padding: 0.4em 0;
    }

    a {
      text-decoration: none;
    }
  }
}

.intro {
  header {
    margin: 0.6em;
  }

  h1 {
    color: $primary-base-color;
    font-size: 2.5em;
    border-bottom: 1px solid $secondary-base-color;
    //text-align: center;
    text-align: right;
    animation-duration: 3s;
    animation-name: slidein;
    animation-timing-function: ease-in-out;
  }

  //animation h1
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  h2 {
    text-align: right;
    font-size: 1em;
    padding: 0.3em;
    //animation-duration: 4s;
    //animation-name: showup;
    color: $secondary-base-color;
    //animation-timing-function: ease-in;
  }

  //animation h2
  @keyframes showup {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    80% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

//Sidebar (General)
aside {
  margin-top: 2em;
  animation-duration: 3s;

  .wrapper {
    display: block;

    /*li:hover {
		transform: scale(1.2);
		transition: all 0.3s ease-in-out 0.1s;
	}*/

    li {
      list-style-type: none;
      padding: 0.5em;
      font-size: 0.9em;
      text-align: right;
      /*transform: scale(1);
		transition: all 0.3s ease-in-out 0.2s;*/

      .design-name::before {
        //content: url('green-tea-leaves-clipart.png');
        content: "";
        background-image: url(assets/green-tea-leaves-clipart.png);
        background-size: 100% 100%;
        display: inline-block;

        /*size of your image*/
        height: 32px;
        width: 30px;

        /*if you want to change the position you can use margins or:*/
        position: relative;
        top: 5px;
        right: 5px;
      }
    }

    h3 {
      padding: 1em;
      font-size: 1em;
      //border-bottom: 1px solid $primary-base-color;
    }

    h3:after {
      //content: url('clipart-leaf-clear-background-4.png');
      content: "";
      background-image: url(assets/clipart-leaf-clear-background-4.png);
      background-size: 100% 100%;
      display: inline-block;

      /*size of your image*/
      height: 32px;
      width: 30px;

      /*if you want to change the position you can use margins or:*/
      position: relative;
      top: 5px;
      left: 5px;
    }

    ul {
      display: block;

      .design-name {
        color: $primary-base-color;
      }

      a {
        text-decoration: none;
        color: $primary-brand-color;
      }
    }
  }

  .design-archives {
    a::before {
      //content: url('green-tea-leaves-clipart.png');
      content: "";
      background-image: url(assets/archives.svg);
      background-size: 100% 100%;
      display: inline-block;

      /*size of your image*/
      height: 32px;
      width: 30px;

      /*if you want to change the position you can use margins or:*/
      position: relative;
      top: 5px;
    }
  }
}

.zen-resources {
  a::before {
    //content: url('green-tea-leaves-clipart.png');
    content: "";
    background-image: url(assets/leaves.svg);
    background-size: 100% 100%;
    display: inline-block;

    /*size of your image*/
    height: 32px;
    width: 30px;

    /*if you want to change the position you can use margins or:*/
    position: relative;
    top: 5px;
  }
}

.sidebar {
  //select, archives, resources
  h3 {
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
    text-align: right;
    color: $secondary-brand-color;
  }

  h3.select {
    background-color: $primary-base-color;
  }

  h3.archives {
    background-color: $secondary-base-color;
  }

  h3.resources {
    background-color: $tertiary-base-color;
  }

  li:last-child {
    margin-bottom: 1em;
  }

  li {
    @include bg-image-gradient(255, 255, 255);
    border-bottom: 0px;
    //border-right: 5px solid $primary-base-color;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: $sans-serif;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 2;
  }

  /*li:nth-child(even) {
          border-right: 5px solid #235789;
        }*/
  .design-selection li {
    border-right: 5px solid $primary-base-color;
  }

  .design-archives li {
    border-right: 5px solid $secondary-base-color;
  }

  .zen-resources li {
    border-right: 5px solid $tertiary-base-color;
  }

  li a {
    color: #000;
  }

  li:hover {
    color: #fff;
    transition-delay: 0.1s;
  }

  li:hover > a:nth-child(2) {
    transition-delay: 0.1s;
    color: #fff;
  }

  li:hover > a:first-child {
    border-bottom: 0px;
    color: #e2efde;
    font-weight: bold;
    transition-delay: 0.1s;
  }

  li:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    z-index: -1;
  }

  li:hover:after {
    width: 100%;
  }

  .design-selection li:hover:after {
    background-color: $primary-base-color;
  }

  .design-archives li:hover:after {
    background-color: $secondary-base-color;
  }

  .zen-resources li:hover:after {
    background-color: $tertiary-base-color;
  }

  /*li:nth-child(even):hover:after {
          background-color: $primary-base-color;
          width: 100%;
        }

        li:hover:after {
          background-color: #235789;
          width: 100%;
        }*/
}

footer {
  background: $primary-base-color;
  padding: 1em 1em 1em 1em;
  text-align: center;

  a {
    border-bottom: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: $secondary-brand-color;
    cursor: pointer;
    font-family: $sans-serif;
    margin-bottom: 5px;
    padding: 1em;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 2;
  }

  a:before,
  a:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
  }

  a:before {
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    bottom: 0;
    height: 100%;
    left: 50%;
    width: 0;
  }

  a:after {
    background-color: #fff;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }

  a:hover {
    color: #000;
    font-weight: bold;
    transition-delay: 0.3s;
  }

  a:hover:before {
    left: 0;
    width: 100%;
    transition-delay: 0s;
  }

  a:hover:after {
    bottom: 0;
    height: 100%;
    transition-delay: 0.3s;
  }
}
