* {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 1024px) {
  #css-zen-garden {
    margin: 0 auto;
    width: 50%;
  }

  .page-wrapper {
    display: grid;
    grid-template-columns: 210px 470px;
    grid-template-rows: 1fr 100px;
    margin: 0 auto;
  }
  .page-wrapper .sidebar {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 20rem;
    top: 5em;
    position: relative;
  }
  .page-wrapper .intro {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 25rem;
  }
  .page-wrapper #zen-supporting {
    position: relative;
    bottom: 37em;
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 25rem;
  }
}
.page-wrapper p {
  text-align: justify;
}
.page-wrapper .summary, .page-wrapper .preamble, .page-wrapper .explanation, .page-wrapper .participation, .page-wrapper .benefits, .page-wrapper .requirements {
  padding: 1em;
  margin: 0.5em 2em;
  border-bottom: 1px solid #ccc;
}
.page-wrapper .summary h3, .page-wrapper .preamble h3, .page-wrapper .explanation h3, .page-wrapper .participation h3, .page-wrapper .benefits h3, .page-wrapper .requirements h3 {
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.page-wrapper .summary h3::before, .page-wrapper .preamble h3::before, .page-wrapper .explanation h3::before, .page-wrapper .participation h3::before, .page-wrapper .benefits h3::before, .page-wrapper .requirements h3::before {
  content: url("assets/logo-ver-1.png");
  max-width: 15%;
  height: auto;
  top: 3px;
  display: inline-flex;
  position: relative;
}
.page-wrapper .summary p, .page-wrapper .preamble p, .page-wrapper .explanation p, .page-wrapper .participation p, .page-wrapper .benefits p, .page-wrapper .requirements p {
  padding: 0.4em 0;
}
.page-wrapper .summary a, .page-wrapper .preamble a, .page-wrapper .explanation a, .page-wrapper .participation a, .page-wrapper .benefits a, .page-wrapper .requirements a {
  text-decoration: none;
  color: red;
}

.intro header {
  margin: 0.6em;
}
.intro h1 {
  color: #6ba24a;
  font-size: 2.4em;
  border-bottom: 1px solid #cdc555;
  text-align: center;
}
.intro h2 {
  text-align: right;
  font-size: 1.2em;
  padding: 0.3em;
}
.intro h1::after {
  content: url("assets/logo-ver-2.png");
  max-width: 15%;
  height: auto;
  top: 3px;
  display: inline-flex;
  position: relative;
}

aside {
  margin-top: 2em;
}
aside .wrapper {
  display: block;
}
aside .wrapper li {
  background: white;
  list-style-type: none;
  padding: 1.2em;
}
aside .wrapper li .design-name::before {
  content: url("assets/green-tea-leaves-clipart.png");
  max-width: 10%;
  height: auto;
  top: 3px;
  right: 10px;
  display: inline-flex;
  position: relative;
}
aside .wrapper h3 {
  padding: 1em;
  border-bottom: 1px solid #ccc;
}
aside .wrapper h3:after {
  content: url("assets/clipart-leaf-clear-background-4.png");
  max-width: 10%;
  height: auto;
  top: 3px;
  left: 10px;
  display: inline-flex;
  position: relative;
}
aside .wrapper ul {
  display: block;
}
aside .wrapper ul .design-name {
  color: #6ba24a;
}
aside .wrapper ul a {
  text-decoration: none;
  color: black;
}
aside .design-archives a::before, aside zen-resources a::before {
  content: url("green-tea-leaves-clipart.png");
  max-width: 10%;
  height: auto;
  top: 3px;
  right: 10px;
  display: inline-flex;
  position: relative;
}

footer {
  background: black;
  display: block;
  text-align: center;
  padding: 1em;
  margin-top: 1.2em;
}
footer a {
  text-decoration: none;
  color: white;
  padding: 0 1em;
}

/*# sourceMappingURL=style.css.map */
