@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@media all and (min-width: 1024px) {
  #css-zen-garden {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
  }
  #css-zen-garden .page-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  #css-zen-garden .page-wrapper .intro {
    margin: auto;
    grid-column: 1/-1;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
  }
  #css-zen-garden .page-wrapper .intro header {
    grid-column: 6/10;
    grid-row: 1/2;
  }
  #css-zen-garden .page-wrapper .intro .summary {
    grid-column: 6/10;
    grid-row: 2/3;
  }
  #css-zen-garden .page-wrapper .intro .preamble {
    grid-column: 6/10;
    grid-row: 3/4;
  }
  #css-zen-garden .page-wrapper .main {
    margin: auto;
    grid-column: 1/-1;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
  }
  #css-zen-garden .page-wrapper .main .explanation {
    grid-column: 6/10;
    grid-row: 1/2;
  }
  #css-zen-garden .page-wrapper .main .participation {
    grid-column: 6/10;
    grid-row: 2/3;
  }
  #css-zen-garden .page-wrapper .main .benefits {
    grid-column: 6/10;
    grid-row: 3/4;
  }
  #css-zen-garden .page-wrapper .main .requirements {
    grid-column: 6/10;
    grid-row: 4/5;
  }
  #css-zen-garden .page-wrapper .main footer {
    grid-column: 6/10;
    grid-row: 5/6;
  }
  #css-zen-garden .page-wrapper .sidebar {
    position: relative;
    bottom: 24.6em;
    left: 5.5em;
    grid-column: 3/5;
    grid-row: 4/5;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

/*$serif: "",
serif;
$sans-serif: "Open sans",
sans-serif;*/
@keyframes ray-anim {
  0% {
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    -moz-transform: rotate(495deg);
    -webkit-transform: rotate(495deg);
    transform: rotate(495deg);
  }
}
@keyframes ray-anim2 {
  0% {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -moz-transform: rotate(450deg);
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes ray-anim3 {
  0% {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -moz-transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
@keyframes ray-anim4 {
  0% {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -moz-transform: rotate(540deg);
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}
@keyframes sun-glow {
  0% {
    box-shadow: 0px 0px 25px 5px #fce850;
  }
  10% {
    box-shadow: 0px 0px 25px 10px #fce850;
  }
  20% {
    box-shadow: 0px 0px 25px 15px #fce850;
  }
  30% {
    box-shadow: 0px 0px 25px 20px #fce850;
  }
  40% {
    box-shadow: 0px 0px 25px 25px #fce850;
  }
}
@keyframes wave {
  0% {
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, 5deg);
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
  }
}
@keyframes flutter {
  0% {
    background-position: 200% 0px;
  }
  30% {
    background-position: 60% -5px;
  }
  70% {
    background-position: -70% 5px;
  }
  100% {
    background-position: -200% 0px;
  }
}
@media all and (min-width: 1024px) {
  #css-zen-garden {
    /*background-image: url("assets/agriculture.jpg");*/
    background-image: url("assets/johann-siemens-EPy0gBJzzZU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation-duration: 0.5s;
    animation-name: showup;
  }
  #css-zen-garden .page-wrapper .intro .summary {
    margin-top: 2em;
  }
  #css-zen-garden .page-wrapper .intro header:before {
    animation: sun-glow 5000ms infinite;
    background-color: #fceb6c;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 5px #fce850;
    content: "";
    height: 70px;
    left: -75px;
    margin: auto;
    opacity: 1;
    position: absolute;
    top: 88px;
    width: 70px;
    z-index: 100;
  }
  #css-zen-garden .page-wrapper .intro header {
    position: relative;
    padding: 1em;
  }
  #css-zen-garden .page-wrapper .intro header h1:after,
#css-zen-garden .page-wrapper .intro header h1:before,
#css-zen-garden .page-wrapper .intro header h2:after,
#css-zen-garden .page-wrapper .intro header h2:before {
    content: "";
    background: -webkit-linear-gradient(to top, rgba(252, 240, 153, 0.1) 0%, #fcf099 50%, rgba(252, 240, 153, 0.1) 100%);
    background: linear-gradient(to top, rgba(252, 240, 153, 0.1) 0%, #fcf099 50%, rgba(252, 240, 153, 0.1) 100%);
    bottom: 0;
    height: 200px;
    left: -50px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    transform-origin: center;
    width: 20px;
    z-index: 99;
  }
  #css-zen-garden .page-wrapper .intro header h2:before {
    border-radius: 0 0 40% 40%;
    transform: rotate(135deg);
    animation: ray-anim 120s linear infinite;
  }
  #css-zen-garden .page-wrapper .intro header h2:after {
    border-radius: 0 40% 0 40%;
    transform: rotate(45deg);
    animation: ray-anim3 120s linear infinite;
  }
  #css-zen-garden .page-wrapper .intro header h1:before {
    border-radius: 40% 40% 0 0;
    transform: rotate(90deg);
    animation: ray-anim2 120s linear infinite;
  }
  #css-zen-garden .page-wrapper .intro header h1:after {
    border-radius: 40% 0 40% 0;
    transform: rotate(180deg);
    animation: ray-anim4 120s linear infinite;
  }
<<<<<<< HEAD
  #css-zen-garden .page-wrapper .main footer {
    background: #14281d;
    padding: 1em 1em 1em 1em;
    text-align: center;
  }
  #css-zen-garden .page-wrapper .main footer a {
    border-bottom: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
    padding: 1em;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 2;
  }
  #css-zen-garden .page-wrapper .main footer a:before,
#css-zen-garden .page-wrapper .main footer a:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
  }
  #css-zen-garden .page-wrapper .main footer a:before {
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    bottom: 0;
    height: 100%;
    left: 50%;
    width: 0;
  }
  #css-zen-garden .page-wrapper .main footer a:after {
    background-color: #fff;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
  #css-zen-garden .page-wrapper .main footer a:hover {
    color: #000;
    font-weight: bold;
    transition-delay: 0.3s;
  }
  #css-zen-garden .page-wrapper .main footer a:hover:before {
    left: 0;
    width: 100%;
    transition-delay: 0s;
  }
  #css-zen-garden .page-wrapper .main footer a:hover:after {
    bottom: 0;
    height: 100%;
    transition-delay: 0.3s;
  }
  #css-zen-garden .page-wrapper .sidebar {
    /*li:nth-child(even) {
      border-right: 5px solid #235789;
    }*/
    /*li:nth-child(even):hover:after {
      background-color: $primary-base-color;
      width: 100%;
    }

    li:hover:after {
      background-color: #235789;
      width: 100%;
    }*/
  }
  #css-zen-garden .page-wrapper .sidebar h3 {
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
    text-align: right;
    color: #fff;
  }
  #css-zen-garden .page-wrapper .sidebar h3.select,
#css-zen-garden .page-wrapper .sidebar h3.archives,
#css-zen-garden .page-wrapper .sidebar h3.resources {
    position: relative;
    box-sizing: border-box;
    transform: perspective(400px) rotate3d(0, 1, 0, 0deg);
    transform-origin: right;
    animation: wave 8s cubic-bezier(0.16, 0.14, 0.82, 0.73) infinite;
    width: 100%;
    z-index: 100;
  }
  #css-zen-garden .page-wrapper .sidebar h3.select:before,
#css-zen-garden .page-wrapper .sidebar h3.archives:before,
#css-zen-garden .page-wrapper .sidebar h3.resources:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, 0 -25%, 100% top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(0, 0, 0, 0.04)), color-stop(40%, rgba(255, 255, 255, 0.2)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(65%, rgba(255, 255, 255, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.05)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-size: 200%;
    animation: flutter 8s cubic-bezier(0.16, 0.14, 0.82, 0.73) infinite;
    z-index: 101;
  }
  #css-zen-garden .page-wrapper .sidebar h3.select {
    background-color: #14281d;
  }
  #css-zen-garden .page-wrapper .sidebar h3.archives {
    background-color: #235789;
  }
  #css-zen-garden .page-wrapper .sidebar h3.resources {
    background-color: #d72638;
  }
  #css-zen-garden .page-wrapper .sidebar li:last-child {
    margin-bottom: 1em;
  }
  #css-zen-garden .page-wrapper .sidebar li {
    background-image: gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
    background-image: -moz-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
    border-bottom: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    z-index: 2;
  }
  #css-zen-garden .page-wrapper .sidebar .design-selection li {
    border-right: 5px solid #14281d;
  }
  #css-zen-garden .page-wrapper .sidebar .design-archives li {
    border-right: 5px solid #235789;
  }
  #css-zen-garden .page-wrapper .sidebar .zen-resources li {
    border-right: 5px solid #d72638;
  }
  #css-zen-garden .page-wrapper .sidebar li a {
    color: #000;
  }
  #css-zen-garden .page-wrapper .sidebar li:hover {
    color: #fff;
    transition-delay: 0.1s;
  }
  #css-zen-garden .page-wrapper .sidebar li:hover > a:nth-child(2) {
    transition-delay: 0.1s;
    color: #fff;
  }
  #css-zen-garden .page-wrapper .sidebar li:hover > a:first-child {
    border-bottom: 0px;
    color: #e2efde;
    font-weight: bold;
    transition-delay: 0.1s;
  }
  #css-zen-garden .page-wrapper .sidebar li:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    z-index: -1;
  }
  #css-zen-garden .page-wrapper .sidebar li:hover:after {
    width: 100%;
  }
  #css-zen-garden .page-wrapper .sidebar .design-selection li:hover:after {
    background-color: #14281d;
  }
  #css-zen-garden .page-wrapper .sidebar .design-archives li:hover:after {
    background-color: #235789;
  }
  #css-zen-garden .page-wrapper .sidebar .zen-resources li:hover:after {
    background-color: #d72638;
  }

=======
>>>>>>> aaa060916d4c19bd9391cf5a79e906390cbc3a1c
  .extra1 {
    background-image: url("assets/bird-cells.svg");
    background-size: auto 100%;
    top: 100px;
    bottom: 0;
    left: 22.5em;
    position: relative;
    width: 80px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle, showup;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite, 1;
    animation-duration: 1s, 4s;
    animation-delay: 1s, 0s;
  }

  @keyframes fly-cycle {
    100% {
      background-position: -900px 0px;
    }
  }
  @keyframes showup {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media all and (min-width: 200px) and (max-width: 768px) {
  #css-zen-garden {
    /*background-image: url("assets/mobile.png");*/
    background-image: url("assets/johann-siemens-EPy0gBJzzZU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.page-wrapper p {
  text-align: justify;
  font-family: "Merriweather", serif;
  line-height: 135%;
}
.page-wrapper p:first-child:first-letter {
  color: #14281d;
  float: left;
  font-family: "Merriweather", serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.page-wrapper .summary,
.page-wrapper .preamble,
.page-wrapper .explanation,
.page-wrapper .participation,
.page-wrapper .benefits,
.page-wrapper .requirements {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
  padding: 0.5em 2em;
  border-bottom: 1px solid #14281d;
}
.page-wrapper .summary h3,
.page-wrapper .preamble h3,
.page-wrapper .explanation h3,
.page-wrapper .participation h3,
.page-wrapper .benefits h3,
.page-wrapper .requirements h3 {
  font-size: 1em;
  margin-bottom: 1em;
  text-align: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out 0.2s;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #14281d;
  animation-duration: 3s;
  animation-name: showup;
  animation-timing-function: ease-in-out;
}
.page-wrapper .summary h3:hover:before,
.page-wrapper .preamble h3:hover:before,
.page-wrapper .explanation h3:hover:before,
.page-wrapper .participation h3:hover:before,
.page-wrapper .benefits h3:hover:before,
.page-wrapper .requirements h3:hover:before {
  content: "";
  background-image: url("assets/logo-ver-1.png");
}
.page-wrapper .summary h3::before,
.page-wrapper .preamble h3::before,
.page-wrapper .explanation h3::before,
.page-wrapper .participation h3::before,
.page-wrapper .benefits h3::before,
.page-wrapper .requirements h3::before {
  content: "";
  background-image: url(assets/logo-ver-2.png);
  background-size: 100% 100%;
  display: inline-block;
  /*size of your image*/
  height: 32px;
  width: 50px;
  /*if you want to change the position you can use margins or:*/
  position: relative;
  top: 5px;
}
.page-wrapper .summary p,
.page-wrapper .preamble p,
.page-wrapper .explanation p,
.page-wrapper .participation p,
.page-wrapper .benefits p,
.page-wrapper .requirements p {
  padding: 0.4em 0;
}
.page-wrapper .summary a,
.page-wrapper .preamble a,
.page-wrapper .explanation a,
.page-wrapper .participation a,
.page-wrapper .benefits a,
.page-wrapper .requirements a {
  text-decoration: none;
}

.intro header {
  margin: 0.6em;
}
.intro h1 {
  color: #14281d;
  font-size: 2.5em;
  border-bottom: 1px solid #235789;
  text-align: right;
  animation-duration: 3s;
  animation-name: slidein;
  animation-timing-function: ease-in-out;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.intro h2 {
  text-align: right;
  font-size: 1em;
  padding: 0.3em;
  color: #235789;
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro h1::after {
  content: "";
  background-image: url(assets/logo-ver-2.png);
  background-size: 100% 100%;
  display: inline-block;
  /*size of your image*/
  height: 42px;
  width: 60px;
  /*if you want to change the position you can use margins or:*/
  position: relative;
  top: 5px;
}

aside {
  margin-top: 2em;
  animation-duration: 3s;
}
aside .wrapper {
  display: block;
  /*li:hover {
  	transform: scale(1.2);
  	transition: all 0.3s ease-in-out 0.1s;
  }*/
}
aside .wrapper li {
  list-style-type: none;
  padding: 0.5em;
  font-size: 0.9em;
  text-align: right;
  /*transform: scale(1);
  transition: all 0.3s ease-in-out 0.2s;*/
}
aside .wrapper li .design-name::before {
  content: "";
  background-image: url(assets/green-tea-leaves-clipart.png);
  background-size: 100% 100%;
  display: inline-block;
  /*size of your image*/
  height: 32px;
  width: 30px;
  /*if you want to change the position you can use margins or:*/
  position: relative;
  top: 5px;
  right: 5px;
}
aside .wrapper h3 {
  padding: 1em;
  font-size: 1em;
}
aside .wrapper h3:after {
  content: "";
  background-image: url(assets/clipart-leaf-clear-background-4.png);
  background-size: 100% 100%;
  display: inline-block;
  /*size of your image*/
  height: 32px;
  width: 30px;
  /*if you want to change the position you can use margins or:*/
  position: relative;
  top: 5px;
  left: 5px;
}
aside .wrapper ul {
  display: block;
}
aside .wrapper ul .design-name {
  color: #14281d;
}
aside .wrapper ul a {
  text-decoration: none;
  color: #000;
}
aside .design-archives a::before {
  content: "";
  background-image: url(assets/archives.svg);
  background-size: 100% 100%;
  display: inline-block;
  /*size of your image*/
  height: 32px;
  width: 30px;
  /*if you want to change the position you can use margins or:*/
  position: relative;
  top: 5px;
}

.zen-resources a::before {
  content: "";
  background-image: url(assets/leaves.svg);
  background-size: 100% 100%;
  display: inline-block;
  /*size of your image*/
  height: 32px;
  width: 30px;
  /*if you want to change the position you can use margins or:*/
  position: relative;
  top: 5px;
}

.sidebar {
  /*li:nth-child(even) {
    border-right: 5px solid #235789;
  }*/
  /*li:nth-child(even):hover:after {
    background-color: $primary-base-color;
    width: 100%;
  }

  li:hover:after {
    background-color: #235789;
    width: 100%;
  }*/
}
.sidebar h3 {
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  text-align: right;
  color: #fff;
}
.sidebar h3.select {
  background-color: #14281d;
}
.sidebar h3.archives {
  background-color: #235789;
}
.sidebar h3.resources {
  background-color: #D72638;
}
.sidebar li:last-child {
  margin-bottom: 1em;
}
.sidebar li {
  background-image: gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
  background-image: -moz-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.1)));
  border-bottom: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  z-index: 2;
}
.sidebar .design-selection li {
  border-right: 5px solid #14281d;
}
.sidebar .design-archives li {
  border-right: 5px solid #235789;
}
.sidebar .zen-resources li {
  border-right: 5px solid #D72638;
}
.sidebar li a {
  color: #000;
}
.sidebar li:hover {
  color: #fff;
  transition-delay: 0.1s;
}
.sidebar li:hover > a:nth-child(2) {
  transition-delay: 0.1s;
  color: #fff;
}
.sidebar li:hover > a:first-child {
  border-bottom: 0px;
  color: #e2efde;
  font-weight: bold;
  transition-delay: 0.1s;
}
.sidebar li:after {
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  z-index: -1;
}
.sidebar li:hover:after {
  width: 100%;
}
.sidebar .design-selection li:hover:after {
  background-color: #14281d;
}
.sidebar .design-archives li:hover:after {
  background-color: #235789;
}
.sidebar .zen-resources li:hover:after {
  background-color: #D72638;
}

footer {
  background: #14281d;
  padding: 1em 1em 1em 1em;
  text-align: center;
}
footer a {
  border-bottom: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
  padding: 1em;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 2;
}
footer a:before,
footer a:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}
footer a:before {
  border: 1px solid #FFF;
  border-left: 0;
  border-right: 0;
  bottom: 0;
  height: 100%;
  left: 50%;
  width: 0;
}
footer a:after {
  background-color: #FFF;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}
footer a:hover {
  color: #000;
  font-weight: bold;
  transition-delay: 0.3s;
}
footer a:hover:before {
  left: 0;
  width: 100%;
  transition-delay: 0s;
}
footer a:hover:after {
  bottom: 0;
  height: 100%;
  transition-delay: 0.3s;
}

/*# sourceMappingURL=style.css.map */
