@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;

    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

// | | | | | | | | | | | |
@mixin create-cols($start, $end) {
    .col-#{$start}-to-#{$end} {
        grid-column: $start #{"/"} $end;
    }
}

@import url("https://fonts.googleapis.com/css?family=Cardo|Oswald&display=swap");

// font-family
$font-family-oswald: "Oswald",
sans-serif;
$font-family-cardo: "Cardo",
serif;

// colors
$primary-base-color: #17252a;
$secondary-base-color: #2b7a78;
$primary-brand-color: #3aafa9;
$secondary-brand-color: #def2f1;
$light-color: #feffff;
/*$primary-base-color: #24305E;
$secondary-base-color: #374785;
$primary-brand-color: #F76C6C;
$secondary-brand-color: #A8D0E6;
$light-color: #F8E9A1;*/

// rgba
$primary-base-color-bg-dark: rgba(23, 37, 42, 1);
$primary-base-color-bg-light: rgba(23, 37, 42, 1);

//$bg-color: (green red);
/*@for $x from 1 through 13 {
  @for $y from 1 through 13 {
    @if $y>=$x {
      @include create-cols($x, $y);
    }
  }
}

.container {
  display: grid;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.bg-color-green {
  background-color: green;
}

.bg-color-red {
  background-color: red;
}

.bg-color-blue {
  background-color: blue;
}*/

// main container
// class: page-wrapper

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-oswald;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    color: $secondary-brand-color;
    text-transform: uppercase;
}

.page-wrapper {
    display: grid;
    font-family: $font-family-cardo;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0.25em;
    grid-row-gap: 0.25em;

    width: 50%;
    margin: 0 auto;
    // start: section
    // class: intro
    // id: zen-intro
    // header
    // div
    // class: summary
    // id: zen-summary
    // div
    // class: preamble
    // id: zen-preamble
    // end: section

    a {
        text-decoration: none;
    }

    ul {
        padding-left: 0;
        margin-left: 0;
    }

    li {
        text-decoration: none;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
    }

    .intro {
        color: $light-color;
        display: grid;
        grid-column: 5 / 13;
        grid-row: 1 / 2;
        grid-template-columns: repeat(12, 1fr);
        /*grid-template-rows: 7em 8em 18em;*/
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0.25em;
        grid-row-gap: 0.25em;
        z-index: 2;
        top: 0;

        header {
            background-color: $primary-base-color;
            color: $primary-brand-color;
            grid-column: 1 / 13;
            grid-row: 1 / 2;
            padding: 1em;

            h1 {
                text-transform: uppercase;
                animation-duration: 3s;
                animation-name: slidein;
            }

            @keyframes slidein {
                from {
                    margin-left: 100%;
                    width: 300px;
                }

                to {
                    margin-left: 0%;
                    width: 100%;
                }
            }

            h2 {
                color: $secondary-brand-color;
                animation-duration: 9s;
                animation-name: showup;
            }

            @keyframes showup {
                0% {
                    opacity: 0;
                }

                20% {
                    opacity: 1;
                }

                80% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        .summary {
            background-color: $primary-base-color-bg-dark;
            grid-column: 1 / 13;
            grid-row: 2 / 3;
            padding: 1em;
            //height: fit-content; // workaround for fixed height
        }

        .preamble {
            background-color: $primary-base-color-bg-light;
            grid-column: 1 / 13;
            grid-row: 3 / 4;
            padding: 1em;
            //height: fit-content; // workaround for fixed height
            /* workaround height: fit-content; removed the row gap;
            code below will add that row gap */
            //border-bottom: .25em solid #FFF; 
            //border-top: .25em solid #FFF;
        }
    }

    // aside
    .sidebar {
        background: url(../assets/logo.svg);
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position-x: center;
        background-position-y: 8px;
        /*background-color: dodgerblue;*/
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7em 1fr;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        grid-column-gap: 0.25em;
        grid-row-gap: 0.25em;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        overflow-x: hidden;

        a:visited {
            color: $primary-base-color;
        }

        h3 {
            color: $primary-base-color;
        }

        .wrapper {
            /*background-color: $primary-brand-color;*/
            color: $primary-base-color;
            grid-row: 2 / 3;
            /*padding: 1em;*/
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            grid-row-gap: .25em;

            .design-selection {
                border-top: .25em solid $primary-base-color;
                background-color: $secondary-base-color;
                grid-row: 1 / 2;
                padding: 1em;
            }

            .design-archives {
                border-top: .25em solid $primary-base-color;
                background-color: $primary-brand-color;
                grid-row: 2 / 3;
                padding: 1em;
            }

            .zen-resources {
                border-top: .25em solid $primary-base-color;
                background-color: $secondary-brand-color;
                grid-row: 3 / 4;
                padding: 1em;
            }
        }
    }

    // main
    .main {
        /*background: $light-color url(../img/svg/tree-oak.svg) no-repeat center;*/
        background-color: #FFF;
        color: $light-color;
        display: grid;
        grid-column: 5 / 13;
        grid-row: 2 / 3;
        grid-template-columns: repeat(12, 1fr);
        /*grid-template-rows: 7em 8em 18em auto auto auto auto 3em;*/
        // first 3 rows should equal .intro grid-template-rows
        grid-template-rows: repeat(5, auto);
        grid-column-gap: 0.25em;
        grid-row-gap: 0.25em;
        z-index: 1;

        .explanation {
            background-color: $primary-base-color-bg-light;
            grid-column: 1 / 13;
            grid-row: 1 / 2;
            padding: 1em;
        }

        .participation {
            background-color: $primary-base-color-bg-light;
            grid-column: 1 / 13;
            grid-row: 2 / 3;
            padding: 1em;
        }

        .benefits {
            background-color: $primary-base-color-bg-light;
            grid-column: 1 / 13;
            grid-row: 3 / 4;
            padding: 1em;
        }

        .requirements {
            background-color: $primary-base-color-bg-light;
            grid-column: 1 / 13;
            grid-row: 4 / 5;
            padding: 1em;
        }

        footer {
            background-color: $primary-base-color-bg-light;
            grid-column: 1 / 13;
            grid-row: 5 / 6;
            width: 100%;
            margin: 0 auto;
            padding-top: 1em;
            padding-bottom: 1em;
            text-align: center;
        }
    }
}

@media all and (min-width: 200px) and (max-width: 767px) {
    .page-wrapper {

        display: flex;
        flex-direction: column;
        width: 100%;

        .intro {
            order: -3;

            header {

                h1,
                h2 {
                    position: relative;
                    padding-left: 100px;
                }

                background: url(../assets/logo.svg);
                background-repeat: no-repeat;
                background-size: 100px 100px;



            }

            .summary {}

            .preamble {}
        }


        .main supporting {
            order: 1;

            .explanation {}

            .participation {}

            .benefits {}

            .requirements {}

            footer {}
        }

        .sidebar {
            display: flex;
            position: relative;
            order: -2;

            .wrapper {
                display: block;
                width: 100%;

                .design-selection {}

                .design-archives {}

                .zen-resources {}
            }


        }

    }
}